.about_p {
    width: 80vw;
    font-size: 4rem;
    color: #3893c8;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image {
    min-width: 20vw;
    max-width: 60vw;
    min-height: 40vh;
    max-height: 60vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}